<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Anonymous Secrets allows you to share your secrets anonymously, No matter if it's a password or any other kind of sensitive data.">

    <title>Anonymous Secrets - Don't keep your secrets, share them anonymously!</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-social.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/1200px-Anonymous_emblem.svg.png" type="image/x-icon">
    <meta property="og:image" content="/images/site.png" />
    <meta itemprop='image' content='/images/site.png'>

  </head>
  <body>
